html, body{
    height: 100%;
    margin:0;
    overflow: hidden;
}



#wrapper{
    background:white;
    width:100%;
    position: fixed;
    bottom:-45%;
    height:45%;
}
.page{
    height:100%;
}

.page .card{
    cursor:pointer;
}
#main-category{
    background:#0091EA;
}

#option{
    background:#FFD600;
}

#check{
    background:#FF6D00;
}

#details{
    background: #6200EA;
}